/* html {
  
} */

.app {
  margin: 0px;
  padding: 0px;
  /* position: relative; */
  width: 100%;
  /* min-height: 100% */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: seagreen;
}

body {
  /* position: relative; */
  margin: 0 0 50px;
  background-color: #E9E9E9;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  /* width: 930px; */
}

header {
  margin: auto;
  padding: 5px;
  /* background-color: white; */
  width: 65%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
} 

h1 {
  height: 30px;
  font-size: 60px;
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #0F0F0F
} 

h2 {
  margin-bottom: 0px;
  font-size: 32px;
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  background-color: white;

  display: flex;
  flex-flow: column;
  /* justify-content: flex-end; */
}

h3 {
  margin-bottom: 0px;
  font-size: 32px;
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  /* background-color: white; */

  display: flex;
  flex-flow: column;
  /* justify-content: flex-end; */
}

h4 {
  font-size: 20px;
  font-family: 'Oleo Script', cursive;
  font-weight: normal;
   display: flex;
  flex-flow: column;
  /* justify-content: flex-end; */
}

.login {
  border: none;
  border-radius: 5px;
  width: 65px;
  height: 35px;
  margin: 10px;
  font-weight: bold;
  background-color: rgba(46, 139, 86, 0.77);
  color: white;
}

.login-form {
  text-align: center;
}

.input-login {
  margin: 5px;
  width: 30%;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #BCD100;
}

.banner {
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 350px;
  background: white;
  
  display: flex;
  padding: 20px;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
}
.empty-banner {
  margin: auto;
  padding: 20px;
  width: 100%;
  background: white;
  
  display: flex;
  flex-flow: row;
  justify-content: center;
  /* align-content: center; */
}

.recipe-banner {
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 250px;
  /* background: white; */
  background-image: url('../images/recipe_page_banner.jpg');
  background-size: 100%; 
  background-position: center;
}

.quotes {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 300px;
  height: 45%;
  padding: 20px;
 }

/* ==========FLEX CONTAINER========== */
.flex-container {
  padding: 15px;
  /* border: 1px solid black;  */
  /* Comment border out when need to */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-container2 {
  padding: 15px;
  border: 1px solid black; 
  /* Comment border out when need to */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.flex-container-center {
  padding: 15px;
  border: 1px solid black; 
  /* Comment border out when need to */
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  /* align-content: center; */
}

/* =========RECIPE RELATED========= */

.link-recipe {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-top: 15px;
  width: 650px;
  height: 350px;
  /* border: 1px solid black; */
  border-top: 10px solid #288368;
  background-color: #FFFFFF;
  background-image: url('../images/placeholder.jpg');
  background-size: cover;
}

.input-bar {
  width: 80%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #BCD100;
}

.input-comment {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  height: 100px;
  text-align: left;
  padding: 15px;
}

/* .comment-form {
  text-align: left;
  margin: auto;
} */

.comment-area {
  width: 550px;
  margin-top: 20px auto;
  text-align: left;
  border-top: 1px solid black;
}


.recipe-tickets {
  margin-top: 10px;
  padding: 10px 0px 0px 0px;
  border: 3px solid #BDCA00;
  border-top: 6px solid #BDCA00;
  /* Comment border out when need to */
  width: 300px;
  /* height: 200px; */
}

.recipe-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#single-recipe-img {
  /* width: 70%;  */
  height: 550px;
  /* object-fit: cover; */
}

.title-box {
  /* padding: 10px; */
  height: 30px;
  /* padding: 0 0 0 10px; */
  /* border: 1px solid black; */
  font-weight: bold;
  text-align: center;
  }


#search-button {
  margin: 5px;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background-color: seagreen;
  
}

/* >>>>> #/recipes <<<<< */
.user-recipe-title {
  font-family: 'Nunito', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30px;
  /* border: 1px solid black; */
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  
}

.check-it-out {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 50px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #898F13;
}

.recipe-description {
  /* bottom: 0; */
  position: relative;
  height: 50px;
  color: white;
  background-color: #288368;
  /* opacity: 0.7; */
  text-align: center;

  display: flex;
  justify-content: center;
  align-content: center;
}

.ingredients {
  margin: 20px;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  /* border: 1px solid black;  */
  width: 150px;
}

.instructions {
  margin: 20px;
  text-align: left;
  font-size: 18px;
  padding: 20px;
  border-right: 1px solid black; 
  width: 350px;
}



/* ==========Challenge========== */

.link-challenge {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-top: 15px;
  width: 650px;
  height: 350px;
  /* border: 1px solid black; */
  border-top: 10px solid #288368;
  background-color: white;
  background-image: url('../images/challenge.jpg');
  background-size: cover;
}

.challenge-description {
  /* align-items: flex-start; */
  color: white;
  height: 50px;
  background-color: #288368;
  /* opacity: 0.7; */
  text-align: center;

  display: flex;
  justify-content: center;
  align-content: center;
}



/* ==========FOOTER========== */
footer{
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  height: 50px;
}


/* ======== ABOUT US ======= */

/* #imageSrc{
  width: 30px;
  height: 30px;
.selector-for-some-widget {
  box-sizing: content-box;
} */